html, body {
                height: 100%;
                margin: 0;
}

#canvas {


    display: block;
    margin: 0 auto;
    background: #fff;
    padding-top: 50px;
}

#fullpage{

	width:100%;
	height:100%;
	background: #fff;

}

#logo_title{

	width: 375px;

	display: block;
    margin: 0 auto;
    padding-top:35px;
}